body {
  background-image: url(https://cdn.pixabay.com/photo/2018/01/14/23/12/nature-3082832_1280.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-align: center;
}

.polaroid {
  width: 50%;
  margin: auto;
  color: #696969;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.polaroid img{
  width: 95%;
  margin: auto;
  border-radius: 5px;
  display: block;
}

.container {
  text-align:center;
  padding: 10px 20px;
  color: #696969;
  text-size: 1.5rem;
}
