body {
  background-image: url(https://github.com/behradpoorakbar-gif/backup/blob/main/AJ.png?raw=true);
  background-repeat: no-repeat;
  background-size: cover;
  background-align: center;
}

polariod {
  width: 50%;
  margin: auto;
  color: skyblue;
  box-shadow: 0 4px 8px 0 rgba(o, o, o, o.2);
  margin-bottom: 25px;
  border-radius: 5px;
  
}
