h1 {
  color: azure;
  font-size: 1000px;
  font-wieght: bolder;
}

.name {
  font-style: luckiest-guy;
}
    

body {
background-color: skyblue;
}

.question {
  color: purple;
  font-wieght: bolder;
}

h2 {
    color: purple;
  font-wieght: bolder;
  border-style: dashed;
  border-size: 16px;
}

h2 {
    border-color: aquamarine;
}
